<!DOCTYPE html>
<html>
<head>
    <title>Wix API Test Application</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link href="//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <link href="//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css" rel="stylesheet">   
    <script type="text/javascript" src="../../webapp/javascript/widgetLogic.js"></script>
    <style>

/* Z-index of #mask must lower than #boxes .window */
#mask {
    position:absolute;
    z-index:9000;
    background-color:#000;
    display:none;
}

#boxes .window {
    position:fixed;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog {
    width:375px; 
    height:203px;
}
</style>
</head>

<body>
</br><div class="container-fluid" >
    <!--<div id="appTitle" class="row-fluid">-->
         <h3>API Test Application</h3>
        <div class="hero-unit" style="background-color:ghostwhite; box-shadow:#ccc 0 0 15px lavender">
        <div id="versionText" style="font-weight:bold">Enter SDK version</div></br>
        <button id="changeVersion" class="hidden btn pull-right">Change Version</button>
        <input id="version" ></input>     
    <!--</div>-->
</div>

    <div class="container-fluid thumbnail"
         style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px lavender">      
            <div>
                <h6 style="float:left">API functions</h6>
                <a id="showFunctions" class="pull-right" style="float:right"><u>Show functions</u></a>
            </div></br></br></br>          
            <div class="span4" id="functionsContainer" style="max-height:290px; padding:20px; overflow-y:scroll">
        </div>
    </div>
    
    <div class="container-fluid thumbnail"
         style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px lavender">
        <div class="span4" id="smContainer">
            <h6>Console</h6>
            <hr/>
            <div class="row-fluid" style="overflow-y:scroll">
                <div id="result" class="pull-left">
                    <div id="resultContent" style="max-height:180px"></div>               
                </div>
            </div>            
        </div>
    </div>
</div>

<!-- #dialog is the id of a DIV defined in the code below -->
<div id="#dialog" name="modal"></div>
<div id="boxes">
    <!-- #customize your modal window here -->
    <div id="dialog" class="window">
        <b>Testing of Modal Window</b> | 
        <!-- close button is defined as close class -->
        <a href="#" class="close">Close it</a>
    </div>
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>

</body>


</body>
</html>