<!DOCTYPE html>
<html>
<head>
    <title>Wix API Test Application</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link href="//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <link href="//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css" rel="stylesheet">   
    <script type="text/javascript" src="../../webapp/javascript/widgetLogic.js"></script>
</head>

<body>
</br><div class="container-fluid" >
    <div id="appTitle" class="row-fluid">
         <h3>API Test Application</h3>
        <div class="hero-unit" style="background-color:ghostwhite; box-shadow:#ccc 0 0 15px lavender">
        <div id="versionText" style="font-weight:bold">Enter SDK version</div></br>
        <button id="changeVersion" class="hidden btn pull-right">Change Version</button>
        <input id="version" ></input>     
    </div>
</div>

    <div class="container-fluid thumbnail"
         style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px lavender">      
            <div>
                <h6 style="float:left">API functions</h6>
                <a id="showFunctions" class="pull-right" style="float:right"><u>Show functions</u></a>
            </div></br></br>
          
            <div class="span4" id="functionsContainer" style="max-height:300px">
            
           <!-- <hr/>
            <div class="row-fluid">
                <div class="pull-left">refreshApp</div>
                <button id="runA" class="btn pull-right">Run</button>
                </br></br>
                <div id="resultA" class="hidden" style="color:red">Test result: </div>
            </div>
            <hr/>
            <div class="row-fluid">
                <div class="pull-left">openPopUp</div>
                <button id="runB" class="btn pull-right">Run</button>
                <div id="resultB" class="hidden">Test result: </div>
            </div>
            <hr/>
            <div class="row-fluid">
                <div class="pull-left">getSiteInfo</div>
                <button id="runC" class="btn pull-right">Run</button>
                <div id="resultC" class="hidden">Test result: </div>
            </div>-->
        </div>
    </div>
    
    <div class="container-fluid thumbnail"
         style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px lavender">
        <div class="span4" id="smContainer">
            <h6>Console</h6>
            <hr/>
            <div class="row-fluid" style="overflow-y:scroll">
                <div id="result" class="pull-left">
                    <div id="resultContent" style="max-height:150px"></div>               
                </div>
            </div>            
        </div>
    </div>
</div>

</body>
</html>